body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  display: flex;
  width: 500px;
  height: 25px;
  margin-bottom: 20px;
}

.button {
  display: flex;
  justify-content: center;
}

button {
  height: 50px;
  width: 150px;
  margin-bottom: 10px;
  background-color: white;
  border-color: #14a7b8;
  color: #14a7b8;
  box-shadow: 5px 5px;
}

  button:hover {
    background-color: #c7eef2;
  }


