<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;600&display=swap" rel="stylesheet">
</head>

<body>
  <div class="navbar">
    <h3>Home</h3>
    <a routerLink="" class="text">My App</a>
    <a routerLink="products" class="text">Products</a>
    <a routerLink="baskets" class="text">Baskets</a>
  </div>

  <router-outlet></router-outlet>

</body>
