body {
  font-family: 'Raleway', sans-serif;
}

.navbar {
  background-color: #fcd2d9;
  height: 70px;
}

.navbar .text {
    margin-right: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

h3 {
    display:flex;
    justify-content: center;
}

a {
    padding-left: 10px;
    padding-right: 5px;
}

a:hover {
    font-weight: 600;
}



